<div class="site">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <!-- <nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
    </nz-select>
    <br>
    <nz-rate [ngModel]="0"></nz-rate> -->
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>

<style>
  .site {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>